.container {
  background: #fda;
  /*max-width: 1058px;*/
  /*background-color="red"*/
/*  width: 800px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
*/}

h1 {
  margin-left: 1%;
}

@media (min-width: 400px) {
  img {
    height: 200px;
  }

  .row {
    margin-left: 1%;
  }

  .columns {
    margin-left: 9%;
  }
}

@media (min-width: 550px) {
  .row {
  text-align: center;
  margin-left: 0%;
  }

/*.two.columns {
  width: 17%;
}*/

  .columns {
  margin-left: 1%;
  }

  img {
  /*height: 160px !important;*/
  /*max-width: 160px !important;*/
  /*width: 160px !important;*/
  /*max-height: 160px !important;*/
  height: 160px;
  width: 100%;
  }
}

/*.columns {
  margin-left: 2%; 
}*/

