<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Reddit Image Scraper</title>
  <meta name="description" content="An image scraper for Reddit written in Python using Flask.">
  <meta name="author" content="Ronak Patel">

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Lato:400,300,500,600" rel="stylesheet" type="text/css">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
  <link href="../static/css/normalize.css" rel="stylesheet">
  <link href="../static/css/skeleton.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/form.css">

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/img/favicon.ico">
</head>

<body>
<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="wrapper">
    <div class="container">
      <div id="content">

        <header>
          <div class="row">
            <div class="twelve columns">
              <!-- <a href="/"><img class="u-max-small-width" src="../static/img/reddit-logo.png"></a> -->
              <h1>Reddit Image Scraper</h1>
              <p>Grab images and gifs from your favorite subreddit!</p>
            </div>
          </div>
        </header>

        <form id="form" action="/results" method="post">
          <div class="form-field row">
            <p>Subreddit Name: </p>
            <input name="subreddit" id="subreddit" class="offset-by-three six columns" type="text" placeholder="earthporn" value>
          </div>

          <div class="form-field row">
            <p>Number of Submissions to Scrape:</p>
            <input name="submissions" id="num-of-submissions" class="offset-by-three six columns" type="text" placeholder="25" value>
            <div id="error-symbol" class="error"></div>
            <div id="error-message" class="error"></div>

          </div>

          <div class="form-field row">
            <button id="submit-button" type="submit">Get Images!</button>
          </div>
        </form>
      </div>
    </div>

    <footer>
      <p>Made by <a href="http://github.com/ronakdpatel">Ronak Patel</a>. Check out the source code on <a href="http://github.com/ronakdpatel/">GitHub</a>.</p>
    </footer>

  </div>

<script type="text/javascript">
// -------------works---------------
  // document.getElementById('submit-button').onclick = function(){
  //   var z = document.getElementById('form')['submissions'].value;
  //   if (/\D/.test(z)) {
  //     alert("Please only enter numeric characters only for your Age! (Allowed input:0-9)");
  //   }
  // };

  function validateForm() {
    var form = document.getElementById('form');
    var input = document.getElementById('num-of-submissions');
    var submissions = input.value;
    if (/\D/.test(submissions)) {
      // input.innerText = '&#x2718; Please enter a number from 1-100';
      // document.body.style.backgroundColor = 'lightblue';
      // alert('Error');
      document.getElementById('error-symbol').innerText = '\u2718'; 
      document.getElementById('error-message').innerText = 'Please enter a number from 1-100';
      // input.className += ' error-box';
      input.classList.add('error-box');
      return false;
    }
    // alert('success');
    // document.body.style.backgroundColor= 'red';
    document.getElementById('error-symbol').innerText ='';
    document.getElementById('error-message').innerText ='';
    // input.className = input.className.replace(' error-box', '');
    input.classList.remove('error-box');
    return true;
  }

  form.addEventListener('submit', function (e) {
    if (validateForm()){
    }
    else{
      e.preventDefault(validateForm());

    }
    // return validateForm();
  });

  // document.getElementById('form').onsubmit="return validateForm()"
  // function validateForm() {
  //   var z = document.getElementById('form')['submissions'].value;
  //   if (/\D/.test(z)) {
  //     // alert("Please only enter numeric characters only for your Age! (Allowed input:0-9)");
  //     return false;
  //   }
  //   return true;
  // }

  // "return validateForm();"
  // document.getElementById('submit-button').onclick = validateForm;

  // function validateForm() {
  //   var z = document.getElementById('form')['submissions'].value;
  //   if (/\D/.test(z)) {
  //     alert("Please only enter numeric characters only for your Age! (Allowed input:0-9)");
  //   }
  // }
</script>
</body>
</html>
