body {
  background-color: #2B3E50;
  /*background-color: #90A4AE;*/
  font-family: 'Lato' !important;
}

h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #7e57c2;
  letter-spacing: 1px;
  text-shadow: .5px .5px .5px #000;
}

p {
  font-size: 2.1rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #7e57c2;
}

button, button:focus {
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow:         inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  background-color: #7e57c2;
  border: 1px solid #bbb;
  color: #fff;
  text-transform: none;
  font-size: 1.5rem;
}

button:hover {
  color: #fff;
  position: relative;
  top: 1px;
  -webkit-box-shadow: inset 0px 3px 1px rgba(126, 87, 194, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    inset 0px 3px 1px rgba(126, 87, 194, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow:         inset 0px 3px 1px rgba(126, 87, 194, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

button:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: inset 0px 3px 1px rgba(126, 87, 194, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    inset 0px 3px 1px rgba(126, 87, 194, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow:         inset 0px 3px 1px rgba(126, 87, 194, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

*::selection {
  background-color: #E1F5FE;
}

#wrapper {
  margin: 0 20px;
}

#wrapper .container {
  background-color: #FBffff;
  border: 1px solid #000;
  border-radius: .25em;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 15px 0;
  max-width: 600px;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
}

#content {
  margin: 0 20px;
  text-align: center;
}

.form-field {
  margin: 15px 0;
}

.form-field input {
  height: 50px;
}

.form-field input[placeholder] {
  font-size: 2.5rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0,0,0,0.4);;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(0,0,0,0.4);;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(0,0,0,0.4);;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0,0,0,0.4);;
}

.form-field input[text] {
  color: #000;
}

.form-field p {
  font-size: 1.9rem;
  margin: 0;
}

.error {
  color: #bb1820;
  text-align: left;
  float: left;
  margin-top: -20px;
  /*margin: 12px 0;*/
}

/*#error-symbol {
  float: left;
}*/

#error-message {
  /*float: left;*/
  font-size: .90rem;
  padding: 5px 1px;
}

input.error-box[type="text"] {
  border: 1px solid #bb1820;
  background-color: #FFCCCC;
}

#submit-button {
  font-size: 2rem;
  margin-top: 1rem;
  width: 225px;
  height: 70px;
}

footer {
  padding: 0px 0 25px 0;
  text-align: center;
}

footer p {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 10px;
  padding: 0;
}

footer a {
  color: #fff;
  border-bottom: 1px dotted #aaa;
  transition: border .15s ease, color .15s ease;
}

footer a:hover {
  border-color: #fff;
  color: #fff;
  opacity: 1;
}

@media (min-width: 550px) {
  .error {
    margin: 0;
  }

  #error-symbol {
    padding: 13px 2px 13px 0;
  }

  #error-message {
    float: none;
    padding: 11px 0;
    /*might need to make 0??*/
  }
}

@media (min-width: 698px) {
  #error-message {
    padding: 11px 15px;
  }
}

@media (min-width: 770px) {
  #error-message {
    padding: 11px 36px;
  }
}